<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AtendimentoTrabalhador</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
    <param-value>50</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>  
    <param-value>glass-x</param-value> 
  </context-param>
  <context-param>
        <param-name>jsfsecurity.protected</param-name> 
        <param-value>/paginas/adm=ROLE_ADM</param-value> 
  </context-param>
  <context-param>
        <param-name>jsf.ambito</param-name> 
        <param-value>/paginas/mapas</param-value> 
  </context-param>
  <filter>  
    <filter-name>filtroSessao</filter-name>  
    <filter-class>util.FiltroSessao</filter-class>   
</filter>  
  
<filter-mapping>  
    <filter-name>filtroSessao</filter-name>   
    <url-pattern>/paginas/adm/*</url-pattern>  
</filter-mapping> 
  <error-page>  
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>  
    <location>/paginas/login.xhtml</location>  
  </error-page>  
</web-app>